
@{
    ViewData["Title"] = "ArchivesView";
}

<section>
    @{
        @foreach (var blog in Model)
        {
            var link = "article?id=" + blog.Id;
            <div  class="items">
                <p>@blog.CreateTime</p>
                <a href="@link">@blog.Title</a>
            </div>
        }
    }
</section>
