
@{
    ViewData["Title"] = "ArchivesView";
}

@{
    @foreach (var blog in Model)
    {
        var link = "article?id=" + blog.Id;
        <section>
            <p>@blog.CreateTime</p>
            <a href="@link">@blog.Title</a>
        </section>
    }
}

